.articles {
  list-style: none;
  padding: 0;
}

.articles .articles-item {
  margin-top: 1.5rem;
  margin-bottom: 0.5;
}

.article-header {
  display: inline-flex;
}

.article-header > time {
  margin-right: 0.8rem;
}

ul.tags {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.tags > li {
  display: inline-block;
  margin: 0;
}

.tags .tags-item {
  display: inline-block;
  margin: 0;
  padding: 0 0.5rem 0 0;
  font-size: 0.85em;
}

.tags a.tags-item::before {
  content: '#';
}

.article-title {
  margin-top: 0.5rem;
  line-height: 1.2;
}

.more {
  margin: 2rem auto 1rem auto;
}

.more ul {
  list-style: none;
  padding: 0;
}

.pagination {
  margin: 2rem auto 1rem auto;
}

.pagination-list {
  list-style: none;
  padding: 0;
}

.pagination-list-item {
  padding: 0.5rem;
}

a.anchor-link {
  color: #888;
  text-decoration: none;
}

article code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
  font-size: 85% !important;
}

article code:not([class*=language-]) {
  padding: .2em .4em;
  margin: 0;
  white-space: break-spaces;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

article blockquote {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid #ccc;
}
article blockquote p {
  margin: 0;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}
