---
layout: layouts/home.njk
---

<h2 class="mt-0">
  最新の記事一覧
</h2>

{% set articles = collections.articles | reverse | batch(10) | first %}
{% include 'articles.njk' %}

{% if articles.length >= 10 %}
<nav class="more">
  <ul class="d-flex flex-row justify-content-between">
    <li><a href="{{ '/articles/1.html' | url }}">すべての記事一覧</a></li>
    <li><a href="{{ '/feed/feed.xml' | url }}" aria-hidden="true">Atom Feed</a></li>
  </ul>
</nav>
{% endif %}
