<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>{{ title or metadata.title }}</title>

    <meta name="description" content="{{ description or metadata.description }}" />
    {%- if meta.robots | length %}
    <meta name="robots" content="{{ meta.robots | join(',') }}" />
    {%- endif %}

    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}" />
    <meta property="og:image" content="{{ '/img/ogp.png' | url | absoluteUrl(metadata.url)}}" />
    <meta property="og:description" content="{{ description or metadata.description }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ metadata.author.twitter }}" />
    <meta name="twitter:creator" content="{{ metadata.author.twitter }}" />
    <meta name="twitter:title" content="{{ title or metadata.title }}" />
    <meta name="twitter:image" content="{{ '/img/ogp.png' | url | absoluteUrl(metadata.url) }}" />
    <meta name="twitter:description" content="{{ description or metadata.description }}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css" integrity="sha512-JQksK36WdRekVrvdxNyV3B0Q1huqbTkIQNbz1dlcFVgNynEMRl0F8OSqOGdVppLUDIvsOejhr/W5L3G/b3J+8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {%- if 'articles' in ( tags or [] ) %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-ghcolors.min.css" integrity="sha512-8IZwRS36BrHutOtXP+S9ZLe/5MubhjJ26t1Kf9RYRt2kQi7brb8mLAKuJDX3qPJZ2U4Wg1cLPigCQVAxscTjtA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {%- endif %}

    {% set baseCSS -%}{% include "css/base.css" %}{%- endset -%}
    {% set articleCSS -%}{% include "css/article.css" %}{%- endset -%}
    <style>
      {{ baseCSS | cssmin | safe }}
      {{ articleCSS | cssmin | safe }}
    </style>
  </head>
  <body>
    <header>
      <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    </header>

    <div class="content">
      {{ content | safe }}
    </div>

    <footer>
      © 2020 windyakin
    </footer>
  </body>
</html>
